{% extends 'layout.html' %} {% block title %} Error {% endblock title %} {%
block body %}
<div class="container">
  <div
    class="vh-100 d-flex flex-column justify-content-center align-items-center"
  >
    <img class="w-50" src="{{url_for("static", filename="img/404.png")}}"
    alt="error" />
    <h2 class="text-center mt-3">Oh no... We lost this page</h2>
    <p class="w-2 text-center mt-3">
      We searched everywhere but couldn´t find what you´re for.
    </p>
    <a href="{{ url_for("home") }}" class="btn btn-outline-dark mt-3">Back to home</a>
  </div>
</div>

{% endblock body %}
