{% extends 'body.html' %} {% block title %} Home {% endblock title %} {% block
container %}
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <div class="alert alert-dark alert-dismissible fade show mt-3" role="alert">
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %} {% endwith %}
  </div>
</div>
{% endblock container %}
